In [360]:
import pandas as pd
import spacy
from spacy.lang.pl import Polish
from collections import Counter
import nltk

In [20]:
df = pd.read_csv("../data/dataninja2019_ads_train.csv")

In [21]:
df.head()

,id,title,description,category_id,region_id,subregion_id,city_id,district_id,params,created_at,labels
0,1432081133,GLIKOL Płyn Chłodniczy Koncentrat Centra. Ogrz...,Nawiąże współpracę z odbiorcami płynów eksploa...,168,13,88,1104129800,NaN,NaN,2012-05-20 23:26:34,glikol_koncentrat wspolpraca koncentrat_do_chl...
1,671872279,Instalacje Gazowe/Przyłącza Gazowe/Sieci gazow...,BARTES świadczy usługi w obejmujące budowę pro...,306,7,136,284937915,1.285174e+09,NaN,2012-06-28 09:00:20,kuchnia_gazowa gazowe przylacza_gazowe przylac...
2,778099925,Elegancki kuferek drewniany + 5 palet na 2 zł ...,Kuferek drewniany z paletami na 200 monet 2 zł...,431,11,260,405646303,6.764402e+07,price<=>price<br>price<=>120,2012-07-09 07:40:37,palety_drewniane
3,1610095002,"Remont łazienki, remont mieszkania, domów, lok...","DROBNE I KOMPLEKSOWE REMONTY MIESZKAŃ , BIUR ,...",306,6,48,689879597,8.987401e+08,NaN,2012-06-27 03:55:33,remont_mieszkania remont_lazienki budowa_domow
4,1884757810,"Karcher Profesjonalne Pranie i czyszczenie, oz...","SAMOCHODY (osobowe, dostawcze, ciężarowe, przy...",354,1,259,1797088492,NaN,NaN,2012-07-04 14:43:56,karcher ozonowanie czyszczenie

In [394]:
class DataNinjaTokenizer:
    stopwords = ['a','aby','ach','acz','aczkolwiek','aj','albo','ale','alez','ależ','ani','az','aż','bardziej','bardzo','beda','bedzie','bez','deda','będą','bede','będę','będzie','bo','bowiem','by','byc','być','byl','byla','byli','bylo','byly','był','była','było','były','bynajmniej','cala','cali','caly','cała','cały','ci','cie','ciebie','cię','co','cokolwiek','cos','coś','czasami','czasem','czemu','czy','czyli','daleko','dla','dlaczego','dlatego','do','dobrze','dokad','dokąd','dosc','dość','duzo','dużo','dwa','dwaj','dwie','dwoje','dzis','dzisiaj','dziś','gdy','gdyby','gdyz','gdyż','gdzie','gdziekolwiek','gdzies','gdzieś','go','i','ich','ile','im','inna','inne','inny','innych','iz','iż','ja','jak','jakas','jakaś','jakby','jaki','jakichs','jakichś','jakie','jakis','jakiś','jakiz','jakiż','jakkolwiek','jako','jakos','jakoś','ją','je','jeden','jedna','jednak','jednakze','jednakże','jedno','jego','jej','jemu','jesli','jest','jestem','jeszcze','jeśli','jezeli','jeżeli','juz','już','kazdy','każdy','kiedy','kilka','kims','kimś','kto','ktokolwiek','ktora','ktore','ktorego','ktorej','ktory','ktorych','ktorym','ktorzy','ktos','ktoś','która','które','którego','której','który','których','którym','którzy','ku','lat','lecz','lub','ma','mają','mało','mam','mi','miedzy','między','mimo','mna','mną','mnie','moga','mogą','moi','moim','moj','moja','moje','moze','mozliwe','mozna','może','możliwe','można','mój','mu','musi','my','na','nad','nam','nami','nas','nasi','nasz','nasza','nasze','naszego','naszych','natomiast','natychmiast','nawet','nia','nią','nic','nich','nie','niech','niego','niej','niemu','nigdy','nim','nimi','niz','niż','no','o','obok','od','około','on','ona','one','oni','ono','oraz','oto','owszem','pan','pana','pani','po','pod','podczas','pomimo','ponad','poniewaz','ponieważ','powinien','powinna','powinni','powinno','poza','prawie','przeciez','przecież','przed','przede','przedtem','przez','przy','roku','rowniez','również','sam','sama','są','sie','się','skad','skąd','soba','sobą','sobie','sposob','sposób','swoje','ta','tak','taka','taki','takie','takze','także','tam','te','tego','tej','ten','teraz','też','to','toba','tobą','tobie','totez','toteż','totobą','trzeba','tu','tutaj','twoi','twoim','twoj','twoja','twoje','twój','twym','ty','tych','tylko','tym','u','w','wam','wami','was','wasz','wasza','wasze','we','według','wiele','wielu','więc','więcej','wlasnie','właśnie','wszyscy','wszystkich','wszystkie','wszystkim','wszystko','wtedy','wy','z','za','zaden','zadna','zadne','zadnych','zapewne','zawsze','ze','zeby','zeznowu','zł','znow','znowu','znów','zostal','został','żaden','żadna','żadne','żadnych','że','żeby']
    __counts = Counter()
    
    def __init__(self, series=None, data_frame=None, headers=None):
        assert not (series is None and data_frame is None), "Cannot parse both series and data_frame"
        if(series is not None):
            words = nltk.word_tokenize(series.str.cat(sep=' '), language="polish")
            self.__vocabulary = [word.lower() for word in words if (word.isalpha() and word not in self.stopwords)]
        if(data_frame is not None):
            assert headers is None, "Headers are required to tokenize data_frame"
            pass
        #should tokenize dataFrame headers into one vocabulary
        assert self.__vocabulary is not None, "Vocabulary cannot be none"
        self.vocabulary_counts() 
    
    def vocabulary_frequency(self):
        [self.__counts[word] += 1 for word in self.vocabulary]

            
    @property
    def vocabulary_counts(self):
        return self.__counts
            
    @property
    def vocabulary(self):
        return self.__vocabulary
    
    @property
    def vocabulary_ints(self):
        return self.__counts

In [393]:
temp = DataNinjaTokenizer(series=df['title'])

In [395]:
temp.vocabulary_ints.most_common(100)

[('kurtka', 160885),
 ('sprzedam', 150395),
 ('city', 137955),
 ('buty', 135440),
 ('sukienka', 122311),
 ('nowe', 114587),
 ('m', 110488),
 ('rozmiar', 100676),
 ('nowa', 98955),
 ('nowy', 96520),
 ('spodnie', 80568),
 ('rozm', 79389),
 ('zestaw', 77558),
 ('surname', 72145),
 ('stan', 71474),
 ('audi', 69389),
 ('zara', 68901),
 ('name', 67863),
 ('bmw', 67310),
 ('zimowe', 65535),
 ('opony', 60755),
 ('cm', 60030),
 ('okazja', 59870),
 ('komplet', 58424),
 ('s', 58295),
 ('zimowa', 55152),
 ('h', 54303),
 ('kombinezon', 50060),
 ('rower', 48511),
 ('vw', 46430),
 ('felgi', 43159),
 ('adidas', 42976),
 ('roz', 42821),
 ('bluza', 41872),
 ('l', 41862),
 ('nike', 41277),
 ('opel', 40401),
 ('ford', 39810),
 ('wózek', 39503),
 ('skóra', 39425),
 ('botki', 39370),
 ('torebka', 38143),
 ('samsung', 37414),
 ('super', 37307),
 ('renault', 35198),
 ('lampa', 32965),
 ('km', 31722),
 ('gratis', 31433),
 ('czarna', 31297),
 ('kozaki', 31266),
 ('drzwi', 30985),
 ('koła', 30524),
 ('silnik', 30061),
 ('czarne', 29971),
 ('dziewczynki', 29929),
 ('płaszcz', 29727),
 ('r', 29580),
 ('suknia', 29180),
 ('golf', 28720),
 ('volkswagen', 28406),
 ('zegarek', 27904),
 ('plus', 27875),
 ('gwarancja', 27613),
 ('mieszkanie', 27594),
 ('idealny', 27532),
 ('x', 27487),
 ('fiat', 26840),
 ('peugeot', 25734),
 ('tdi', 25702),
 ('ii', 25621),
 ('ikea', 25255),
 ('honda', 25246),
 ('xl', 25239),
 ('iphone', 25232),
 ('części', 25060),
 ('bluzka', 24784),
 ('firmy', 24774),
 ('ślubna', 24647),
 ('zimowy', 23893),
 ('c', 23823),
 ('łóżko', 23512),
 ('mercedes', 23329),
 ('meble', 23316),
 ('reserved', 23248),
 ('passat', 23100),
 ('koszulka', 22786),
 ('lego', 22766),
 ('damskie', 22734),
 ('skórzane', 22301),
 ('stół', 22075),
 ('cena', 21987),
 ('przód', 21947),
 ('galaxy', 21772),
 ('tanio', 21759),
 ('lift', 21564),
 ('koszula', 21557),
 ('czarny', 21338),
 ('czapka', 21008),
 ('stolik', 20976),
 ('toyota', 20429)]